@charset "utf-8";
/* CSS Document */
@font-face
			{
				font-family:'BebasNeue';
				src:url('bacs200/css/fonts/PatrickHand-Regular.ttf') format('truetype');
			}
			*
			{
				font-family:'PatrickHand';
			}
